<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='{{ path }}/static/stylesheets/style.css' />
    <script src="{{ path }}/static/js/ha.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <section id="devices">
        <h3>Existing Devices</h3>
        <ul id="devices_list">
        {% for socket in sockets %}
            <li>
                <h3>{{ socket.name }}</h3>
                <small>Num: {{ socket.num }}</small>
            </li>
        {% endfor %}
        </ul>
    </section>

    <section id="add_dev">
        <form id="add_device">
            <h3>Add Device</h3>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placholder="Lamps">
            <input type="button" name="add_but" id="add_but" value="Add" onclick="add_device(this);">
        </form>
    </section> <!-- add -->

  </body>
</html>
